alias mdev="mux dev"
alias tsw="tmux switch -t"
alias flush_dns="sudo killall -HUP mDNSResponder; sleep 2;"
alias set_pane_title="printf '\033]2;%s\033\\'"


alias docker_clean_volumes="docker volume rm $(docker volume ls -qf dangling=true)"
alias docker_clean_images="docker rmi $(docker images --filter "dangling=true" -q --no-trunc)"
alias docker_clean_all="docker_clean_volumes && docker_clean_images"

alias gfm="git fetch origin master"
alias gpm="git pull origin master"


open_github_pr() {
  branch=$(git rev-parse --abbrev-ref HEAD)
  open https://github.com/busbud/integrations/pull/new/$branch
}
