code () {
	if [[ $# = 0 ]]
	then
		open_command -a "Visual Studio Code"
	else
		local argPath="$1"
		[[ $1 = /* ]] && argPath="$1"  || argPath="$PWD/${1#./}"
    open_command -a "Visual Studio Code" "$argPath"
	fi
}

alias mdev="mux dev"
alias tsw="tmux switch -t"

