[submodule "vimrc"]
	path = vimrc
	url = https://github.com/flovilmart/vimrc.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "nushell/plugins/nupm"]
	path = nushell/plugins/nupm
	url = https://github.com/nushell/nupm
