[submodule "vimrc"]
	path = vimrc
	url = https://github.com/flovilmart/vimrc.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "prezto"]
	path = .zprezto 
	url = https://github.com/flovilmart/prezto
