[user]
	name = Florent Vilmart
	email = florent@flovilmart.com
	signingkey = 4A0441A2
	handle = flovilmart
[core]
	excludesfile = ~/.gitignore_global
	ignorecase = false
  editor = nvim
[push]
	default = current
	recurseSubmodules = check
  noVerify = true
[http]
	postBuffer = 52428800
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[rebase]
	autosquash = true
[status]
	submodulesummary = 1
[diff]
	submodule = log

# [filter "media"]
# 	required = true
# 	clean = git media clean %f
# 	smudge = git media smudge %f
# [filter "lfs"]
# 	clean = git-lfs clean -- %f
# 	smudge = git-lfs smudge -- %f
# 	required = true
# [difftool "sourcetree"]
# 	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
# 	path =
# [mergetool "sourcetree"]
# 	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
# 	trustExitCode = true
[alias]
	co = checkout
	st = status
  main = !git co main && git pull origin main
	pr-web = !gh pr view -w
	pr = !(gh pr create -f || exit 0) &&  gh pr view -w
	prd = !(gh pr create -d -f || exit 0) &&  gh pr view -w
	pr-view = !gh pr view -w
  hub = !gh
  fix = !git commit --amend --no-edit && git push -f --no-verify
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
	insteadof = https://github.com/
